* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: gray;
}

.body {
    width: 150px;
    margin: 0 auto;
    margin-top: 50px;
}

.line_1 {
    display: flex;
}

.pixel {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 0, 0, 0);
}

.hair_bark {
    background-color: #564D40;
}

.hair_light {
    background- color: #7A7063;
}

.eye_glass {
    background-color: #272726
}

.skin_dark {
    background-color: #b08b5a;
}

.skin_lihgt {
    background-color: #D9B78A;
}

.dark_clouth {
    background-color: #0d0d0d;
}

.light_clouth {
    background-color: #272726;
}

.sharvali_dark {
    background-color: #294050;
}

.sahrvali_light {
    background-color: #3b5e78
}

.background {
    background-color: #68747b
}
